
.container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  .container p {
    text-align: justify;
    font-size: 16px;
    line-height: 22px;
  
  }
  
  .container a {
    text-decoration: none;
  }