<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

 <div class="container">
    <strong>Guntur Satya Pramudya</strong>
    <p class="ion-margin">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas in eum deleniti placeat atque! Fugiat quia obcaecati dolorem! Excepturi laudantium maxime, magnam animi eius vero id debitis dolore quia distinctio.
    </p>
  
  </div> 

  </ion-content>
